
#menu { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5580e9+0,6096ae+31,59b9ec+60,8860d0+100 */
background: #25274d; /* Old browsers */
	padding: 10px 10px;
}
#menu, #nav, #main, #btn.link1, #btn.link2 {font-family: 'Fira Sans', sans-serif;
color: #25274d;}
.ui.header {font-family: 'Fira Sans', sans-serif !important;
color: #25274d !important;
font-size: 18px !important;
letter-spacing: 5px;
text-transform: uppercase;}
.ui.dividing.header {
    border-bottom: 1px solid rgba(70, 72, 102, 0.42) !important;
}
#nav .item {position: static;}

#signin label, #login label {color: #25274d !important;
font-size: 14px !important;}
select.ui.dropdown {
    border: none !important;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(37, 39, 77);
}
#signin input {border: 1px solid rgba(37, 39, 77, 0.51);
border-radius: 2px;
background: #fff;
color: #29648a;}
#main {margin-top:50px;
margin-bottom:25px;  }
#btn .link1 {background-color:#25274d;
color: rgba(255, 255, 255, 0);
font-size: 14px;}
#btn .link2 {background-color:#29648a;
color: rgba(255, 255, 255, 0);
font-size: 14px;}
#info {margin-top: 15px;
margin-bottom: 15px;
font-size: 14px;}
#info a {color: #29648a;
}
#info a:hover {
    color: #29648a;
    text-decoration: none;
}
#lang select {background-color:#25274d !important;
color: #fff;
font-size: 16px;}
#nav a {color: #fff;
font-size: 16px;}
#slider {margin-top:25px;
margin-bottom:50px;  }
#footer {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5580e9+0,6096ae+31,59b9ec+60,8860d0+100 */
background: #25274d; /* Old browsers */
}
#footer p {color: #fff;
font-size: 16px;}

#world-map .jvectormap-container {background-color: rgb(37, 39, 77) !important;}
#world-map {border-radius: 2px;}
path[Attributes Style] {fill: #29648a;}
